# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Packaging
ngslite.egg-info/
.eggs/
dist/

# PyCharm
.idea/

# Data / misc
data/
run.py
todo
.coverage
.coveralls.yml
htmlcov/
